* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.greeter-container {
    text-align: center;
    background: #FAF6E3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: rgb(105,125,232);
    background: radial-gradient(circle, rgba(105,125,232,1) 25%, rgba(233,148,163,1) 97%);
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

   

}

button:hover {
    background-color: darkgrey;
}

.hidden {
    display: none;
}

#greeting-message {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
   
}

.color-btn {
    margin-top: 20px;
    background-color:grey;
}

.color-btn:hover {
    background-color: darkgrey;
}
